body{
    background-color: rgb(181, 176, 176);
}
#main{
    background-color: aliceblue;
    height: 68px;
}
#img{
    display: inline-block;
    margin-top: 15px;
    position: absolute;
}
#s{
    display: inline-block;
    width: 700px;
    background-color: rgb(195 222 239);
    margin-left: 30px;                            
    margin-top: 1px;
    font-size: 24px;
    border-radius: 9px;
    position: absolute;
    border-color: rgb(195 222 239);
    border-width: 2px;
    color: black;
}
#login{
    display: inline-block;
    position: absolute;
    margin-left: 810px;
    margin-top: 4px;
    font-size: 23px;
}
#c{
    position: absolute;
    margin-left: -32px;
    margin-top: -25px;
}
#cart{
    position: absolute;
    display: inline-block;
    margin-left: 955px;
    margin-top: 6px;
    font-size: 23px;
}
#img cart{
    position: absolute;
    display: inline-block;
}
#i{
    margin-left: 1088px;
    margin-top: -36px;
    position: absolute;
}
#become{
    position: absolute;
    display: inline-block;
    margin-left: 1235px;
    margin-top: -38px;
    font-size: 23px;
    width: 172px;
}
#img become{
    position: absolute;
    display: inline-block;
}
#h{
    margin-left: 1205px;
    margin-top: -36px;
    position: absolute; 

}
#dot{
    position: absolute;
    display: inline-block;
    margin-left: 1434px;
    margin-top: -34px;
}
#alag{
    background-color: white;
    height: 117px;
    margin-top: 10px;
}
#grocery{
    display: inline-block;
    margin-left: 61px;
}
#Grocery{
    margin-top: -9px;
    margin-left: 25px;
    font-weight: 700;
}
#gro{
    margin-left: 13px;
    margin-top: -2px;
}
#mobiles{
    display: inline-block;
    margin-left: 61px;
}
#Mobiles{
    margin-top: -9px;
    margin-left: -10px;
    font-weight: 700;
}
#mob{
    margin-left: -24px;
}
#fashion{
    display: inline-block;
    margin-left: 61px;
}
#Fashion{
    margin-top: 0px;
    margin-left: -10px;
    font-weight: 700;
}
#fash{
    margin-left: -24px;
}
#electronics{
    display: inline-block;
    margin-left: 61px;
}
#Electronics{
    margin-top: -9px;
    margin-left: -10px;
    font-weight: 700;
}
#elec{
    margin-left: -11px;
}
#homefurniture{
    display: inline-block;
    margin-left: 61px;
}
#Homefurniture{
    margin-top: -9px;
    margin-left: -10px;
    font-weight: 700;
}
#hf{
    margin-left: 8px;
}#appliances{
    display: inline-block;
    margin-left: 61px;
}
#Appliances{
    margin-top: -2px;
    margin-left: -17px;
    font-weight: 700;
}
#app{
    margin-left: -18px;
}#travel{
    display: inline-block;
    margin-left: 61px;
}
#Travel{
    margin-top: 1px;
    margin-left: -10px;
    font-weight: 700;
}
#trav{
    margin-left:-29px;
}
#beauty{
    display: inline-block;
    margin-left: 61px;
}
#Beauty{
    margin-top: -2px;
    margin-left: -17px;
    font-weight: 700;
}
#beau{
    margin-left: 11px;
}
#two{
    display: inline-block;
    margin-left: 61px;
}
#Two{
    margin-top: 1px;
    margin-left: -25px;
    font-weight: 700;
}
#tw{
    margin-left:-15px;
}
#im{
    width: 99vw;
    height: 260px;
    margin-top: 20px;
}
#best{
    height: 400px;
    background-color: white;
    color: black;
    margin-top: 20px;
}
h2{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
#watch{
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
}
#noise{
    display: inline-block;
}
#p{
    display: block;
}